@font-face {
	src: url('/fonts/HeroNew-Regular.ttf');
	src: url('/fonts/HeroNew-Bold.ttf');
	src: url('/fonts/HeroNew-SemiBold.ttf');
	font-family: heroNew;
}

* {
	box-sizing: border-box;
}

body {
	font-family: heroNew;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: heroNew;
}

.section-hero {
	background-color: #000000;
	color: #ffffff;
}
